/* Write your CSS here - remember to add Id's or classes to the HTML file */
body{
    background-color: black;
    font-family: 'Segoe UI', Verdana, sans-serif;  
    color: white;
}
h1{
    background-image: url(./img/Records.jpg);
    font-size: 100px;
    font-weight: bold;
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 55%;
}
h2 {
    color: white;
    width: 55%;
    text-align: center;
    font-size: 25px;
}
img {
    width: 500px;
}
.our {
    background-color: #ef8354;
}
.sell {
background-color: #0e7c7b;
}
.live {
background-color: #9c538b;
}
a:link {
    color: #ef8354;
}
a:hover {
    color: #9c528b;
}
a:visited {
    color: #ef8354;
}
footer {
    text-align: center;
    width: 55%;
}